.slider {
  padding: 2rem;

  &__runner {
    position: relative;
    width: 25rem;
    height: .5rem;
    border-radius: 5rem;
    background-color: #e5e5e5;
    cursor: pointer;

    &--vertical {
      width: .5rem;
      height: 17rem;

      >.slider__thumb {
        top: 0;
        left: -5px;
      }
    }
  }

  &__thumb {
    position: absolute;
    top: -.4rem;
    left: 0;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: #e75735;
    cursor: pointer;
    outline: none;
  }

  &__pointer {
    position: absolute;
    top: -1.7rem;
    left: -.5rem;
    width: 2.25rem;
    height: 1.5rem;
    font-size: .8rem;
    font-weight: 900;
    line-height: 1.9;
    text-align: center;
    color: #fff;
    border-radius: .4rem;
    background-color: #e75735;
    cursor: pointer;

    &:after {
      content: "";
      position: absolute;
      bottom: -.17rem;
      left: .9rem;
      width: .3rem;
      height: .3rem;
      background-color: #e75735;
      transform: rotate(45deg);
    }

    &--left {
      top: -.2rem;
      left: 1.4rem;

      &:after {
        top: .6rem;
        left: -.15rem;
      }
    }
  }

  &__scale {
    position: relative;
    top: 1rem;
    width: 100%;
    height: 100%;
    padding: 0;
    font-size: .8rem;

    &--vertical {
      top: .2rem;
      left: -1.5rem;
    }
  }

  &__scale-item {
    position: absolute;
    list-style: none;
  }

  &__input {
    margin: 2rem 1rem 2rem 0;
  }
}